#Blacklist

#Theme
/html/*
!/html/wp-content/
/html/wp-content/*
!/html/wp-content/themes/
/html/wp-content/themes/*
!/html/wp-content/themes/citei/
!/html/wp-content/languages/
/html/wp-content/languages/*
!/html/wp-content/languages/themes/
/html/wp-content/languages/themes/*
!/html/wp-content/languages/themes/citei*